@import url('@fontsource/poppins/400.css');
@import url('@fontsource/poppins/500.css');
@import url('@fontsource/poppins/600.css');
@import url('@fontsource/poppins/700.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colors-primary-main: theme('colors.primary.main');
  --colors-meutral-light: theme('colors.neutral.light');
}

body {
  font-family: 'Poppins', sans-serif;
}
